<head>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>
<div class="container">
	<div class="row">
		<h1>Welcome to <span class="glyphicon glyphicon-book" aria-hidden="true"></span>Bookers!</h1>
	</div>
	<p class="text-right" style="padding-right: 150px;">CopyRight Infratop.inc</p>
</div>