<head>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>
<div class="container">
	<div class="row">
	  	<% if flash[:notice] %>
	  		<p><%= flash[:notice] %></p>
	  	<% end %>
  	</div>
	<div class="row">
		<div class="head">
			<h2 class="text-left">welcome to <span class="glyphicon glyphicon-book" aria-hidden="true"></span>Bookers !!</h2>
		</div>
	</div>
	<div class="row">
		<div class="head">
			<p class="text-left">in <span class="glyphicon glyphicon-book" aria-hidden="true"></span>Bookers,</p>
		</div>
	</div>
	<div class="row">
		<div class="box">
			<p class="text-left">
				you can share and exchange your opinions , inpressions , and emotions<br>
				about various books!
			</p>
		</div>
	</div>
	<div class="row">
		<ul class="list-unstyled">
			<li class="text-center">
				<%= link_to "Log in", new_user_session_path, class: "btn btn-primary" %>
			</li>
			<li class="text-center">
				<%= link_to "Sign up", new_user_registration_path,class: "btn btn-success" %>
			</li>
		</ul>
		<p class="text-right" style="padding-right: 150px;">CopyRight Infratop.inc</p>
	</div>
</div>